
<div class="container">
    <form action="Create" method="post">
        <div class="row">
            <div class="col-25">
                <label for="name">Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="TeacherName" name="TeacherName" placeholder="Your Name" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="age">Age</label>
            </div>
            <div class="col-75">
                <input type="text" id="Age" name="TeacherAge" placeholder="Your Age" />
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="isactive">Is Active</label>
            </div>
            <div class="col-75">
                <input type="checkbox" value="true" id="isactive" name="IsActive" checked />
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Submit" />
        </div>

    </form>
</div>