@model List<Course>


<a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Create">Add new course</a>

<br />


<table>
    <tr>
        <th>
            Course Name
        </th>
        <th>
            Course Capicity
        </th>
        <th>
            Delete
        </th>
    </tr>
    @foreach(Course course in Model)
    {

        <tr>
            <td>
                @course.CourseName
            </td>
            <td>
                @course.CourseCapicity
            </td>
            <td>
                <a href="/Course/Delete/@course.TeacherId">X</a>
            </td>
        </tr>
    }
</table>