@model List<Student>

<link href="~/css/Table.css" rel="stylesheet">
<table>
    <tr>
        <th>
            Student Name
        </th>
        <th>
            Student Age
        </th>
    </tr>
    @foreach(Student student in Model)
    {

        <tr>
            <td>
                @student.StudentName 
            </td>
            <td>
                @student.StudentAge
            </td>
        </tr>
    }
</table>